* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8a5d5d;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 20px;
}

header h1 {
    font-size: 30px;
    text-align: center;
}

header h2 {
    text-align: left;
    font-size: 50px;
    margin-bottom: 10px; 
}

header p {
    font-size: 15px;
}

#subscriptionForm {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

#emailInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
}

button[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #555;
}

#confirmationMessage {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

#jokeContainer {
  padding: 25px;
  margin-top: 25x;
  color:white;
  text-align: center;
}