* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 20px;
}

header h1 {
    font-size: 30px;
    text-align: center;
}

header h2 {
    text-align: left;
    font-size: 50px;
    margin-bottom: 10px; 
}

header p {
    font-size: 15px;
}



#cryptoData{
    background-color:purple;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    max-width: 300px;
    
}

#cryptoData img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}


#jokeContainer {
    padding: 25px;
    margin-top: 25x;
    color:white;
    text-align: center;
}

#jokeContainer {
  padding: 25px;
  margin-top: 25x;
  color:white;
  text-align: center;
}

