* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url('./background2.jpg'); /* Replace with the path to your image */
    background-size: cover; /* This property ensures that the background image covers the entire body */
    background-position: center; /* This property centers the background image */
    background-repeat: no-repeat; /* This property prevents the background image from repeating */
    /* Additional styles can be added as needed */
}

header {
    background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX30082988.jpg');
    background-color: #333;
    color: black;
    text-align: left;
    padding: 20px;
}

header h1 {
    background-color: white;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    border: solid;
    max-width: 300px;

}

header h2 {
    text-align: left;
    font-size: 50px;
    margin-bottom: 10px; 
}

header p {
    font-size: 15px;
}



#cryptoData{
    background-color:purple;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    max-width: 300px;
    
}

#cryptoData img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}


#jokeContainer {
    padding: 25px;
    margin-top: 25x;
    color:white;
    text-align: center;
}

#jokeContainer {
  padding: 25px;
  margin-top: 25x;
  color:white;
  text-align: center;
}

